#sidebar-wrapper {
  background-color: var(--header-color);
  padding: 20px; 
  border-top-left-radius: 0; 
  border-top-right-radius: var(--card-radius); 
  border-bottom-left-radius: var(--card-radius); 
  border-bottom-right-radius: var(--card-radius); 
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); 
}

#sidebar-wrapper .sidebar-heading {
  color: var(--primary-color);
  margin-bottom: 20px;
}

#sidebar-wrapper .list-group-item {
  background-color: transparent;
  color: var(--secondary-color); 
  border: none;
  border-radius: var(--border-radius); 
  margin-bottom: 5px;
  transition: all var(--transition-fast);
}

#sidebar-wrapper .list-group-item:hover,
#sidebar-wrapper .list-group-item.active {
  background-color: var(--accent-color); 
  color: var(--primary-color);
}

#sidebar-wrapper .list-group-item i {
  margin-right: 10px;
  color: var(--btn-color); 
}

#sidebar-wrapper .list-group-item:hover i,
#sidebar-wrapper .list-group-item.active i {
  color: var(--primary-color); 
}

#sidebar-wrapper .list-group-item.mt-auto {
  margin-top: 30px !important; 
}