<nav id="sidebar-wrapper">
  <div class="sidebar-heading text-center">
    <img src="/img/logo.png" alt="Level-Up Gamer" height="40" />
    <span class="ms-2">Admin</span>
  </div>
  <div class="list-group list-group-flush">
    <a href="index.html" class="list-group-item list-group-item-action">
      <i class="bi bi-speedometer2"></i> Dashboard
    </a>
    <a href="products.html" class="list-group-item list-group-item-action">
      <i class="bi bi-box-seam"></i> Productos
    </a>
    <a href="users.html" class="list-group-item list-group-item-action">
      <i class="bi bi-people"></i> Usuarios
    </a>
    <a href="/index.html" class="list-group-item list-group-item-action mt-auto">
      <i class="bi bi-box-arrow-left"></i> Volver a la Tienda
    </a>
  </div>
</nav>
