<footer class="bg-dark text-white py-5 shadow-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4 mb-md-0 text-center">
        <h5 class="mb-3">Enlaces Rápidos</h5>
        <ul class="list-unstyled">
          <li>
            <a href="/views/shop/products.html" class="text-white">Productos</a>
          </li>
          <li><a href="/views/about.html" class="text-white">Nosotros</a></li>
          <li><a href="/views/blog.html" class="text-white">Blog</a></li>
          <li><a href="/views/contact.html" class="text-white">Contacto</a></li>
        </ul>
      </div>
      <div class="col-md-4 mb-4 mb-md-0 text-center">
        <img
          src="/img/logotype.png"
          alt="Level-Up Gamer Logotype"
          class="img-fluid mb-3 footer-logo"
          style="width: 150px"
        />
        <p>
          Tu tienda de confianza para todo lo relacionado con gaming en Chile.
        </p>
      </div>
      <div class="col-md-4 text-center">
        <h5 class="mb-3">Síguenos</h5>
        <div class="d-flex gap-3 justify-content-center">
          <a href="#" class="text-white"><i class="bi bi-facebook"></i></a>
          <a href="#" class="text-white"><i class="bi bi-twitter"></i></a>
          <a href="#" class="text-white"><i class="bi bi-instagram"></i></a>
        </div>
      </div>
    </div>
    <hr class="my-4" />
    <div class="text-center">
      <p class="mb-0">
        &copy; 2025 Level-Up Gamer. Todos los derechos reservados.
      </p>
    </div>
  </div>
</footer>
