.productCard {
  background-color: var(--card-bg);
  border: 1px solid var(--border-color);
  border-radius: var(--card-radius);
  box-shadow: var(--card-shadow);
  transition: all var(--transition-fast);
  position: relative;
  overflow: hidden;
}

.productCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px var(--shadow-color);
}

.productImg {
  height: 250px;
  object-fit: cover;
  border-radius: var(--card-radius) var(--card-radius) 0 0;
  transition: transform var(--transition-fast) ease;
}

.productCard:hover .productImg {
  transform: scale(1.05);
}

.productTitle {
  color: var(--primary-color) !important;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.productDescription {
  font-size: 0.9rem;
  color: var(--secondary-color);
  margin-bottom: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.productPrice {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--btn-color);
}

.cardBadge {
  top: 10px;
  left: 10px;
  padding: 3px 8px;
  border-radius: 5px;
  font-size: 0.7em;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--background-color);
  z-index: 1;
}

.badgeJuegosDeMesa {
  background-color: var(--accent-color);
}

.badgeAccesorios {
  background-color: var(--btn-color);
}

.badgeConsolas {
  background-color: #ff6347;
}

.badgeComputadoresGamers {
  background-color: #8a2be2;
}

.badgeSillasGamers {
  background-color: #00ced1;
}

.badgeMouse {
  background-color: #ffd700;
}

.badgeMousepad {
  background-color: #adff2f;
}

.badgePolerasPersonalizadas {
  background-color: #ff69b4;
}

.productCardBody {
  padding: 1.25rem;
}

.addToCartBtn {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}